$colors: (
    primary: #222,
    secondary: #999,
    tertiary: #fff,
    accent: #eee
);

$fonts: (
    primary: 'Open Sans',
    secondary: 'Playfair Display',
    tertiary: 'Monoton'
);

$bps: (
    ph-min: 320px,
    ph-max: 480px,
    tb-min: 768px,
    tb-max: 1024px
);