@import 'https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Cormorant+Infant|Open+Sans+Condensed:300';

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
body{
    border: 1px solid transparent;
    overflow-x: hidden;
}
.landing{
    margin: 2.5%;
    padding: 0;
    width: 95%;
    height: 90%;
    background-color: white;
    border: 1px solid transparent;
}
.frontPage{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #5cd8b6;
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 1px 5px lightgray;
}
.header{
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    text-align: center;
    border: 1px solid transparent;
}
.name{
    font-family: "Cormorant Garamond";
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-bottom: 2px solid #ffdb74;

}
.job{
    font-family: "Cormorant Infant";
    text-transform: capitalize;
    font-size: 1.5em;
}
.work{
    position: absolute;
    top: 85%;
    right: 5%;
}
.portfolio{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.left{
    margin: 0;
    padding: 2.5%;
    width: 45%;
    height: 90%;
    float: left;
}
.about{
    padding: 25px;
    background-color: #ffdb74;
}
.about h1{
    font-size: 55px;
    font-family: "Cormorant Garamond";
    color: darkslategray;
}
.about p{
    margin: 10px;
    font-size: 30px;
    font-family: "Open Sans Condensed";
}
.about img{
    margin: 15px;
    float: left;
}
.right{
    margin: 0;
    padding: 2.5%;
    width: 45%;
    height: 90%;
    float: right;
}
.panel{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
}
.demo-img{
    margin: 0 auto;
    display: inline-flex;
    max-width: 300px;
    width: 100%;
    max-height: 148px;
    height: 100%;
    background: no-repeat center center;
    background-size: 300px 148px;
}
.demo-img > img{
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.demo-img:hover > img{
    opacity: 1;
}
.footer{
    position: fixed;
    bottom: 1%;
    left: 2.5%;
    background-color: transparent;
}
.footer li{
    margin-right: 5px;
    display: inline;
}
.footer a{
    color: black;
    text-decoration: none;
}
.frontPage i, .footer i{
    font-size: 1.5em;
    color: #ffdb74;
}
@media screen and (max-width: 480px){
    body{border: none;}
    .landing{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .header{
        width: 100%;
        height: 90%;
    }
    .name{border: none;}
    .work{display: none;}
    .left, .right{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        float: none;
    }
    .about img{display: none;}
    .panel{
        margin: 0;
        padding: 0;
    }
    .demo-img{
        margin: 0;
        padding: 0;
        max-width: 500px;
        width: 100%;
        max-height: 247px;
        height: 100%;
        display: block;
    }
    .demo-img > img{margin: 0; width: 100%; height: 100%; opacity: 1;}
    .demo-img:hover{opacity: 1;}
    .footer{
        margin: 0;
        position: static;
        text-align: center;
        background-color: #5cd8b6;
    }
    ::-webkit-scrollbar{display: none;}
}
@media screen and (min-width: 480px) and (max-width: 1024px){
    body{border: none;}
    .landing{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .header{
        width: 100%
    }
    .work{display: none;}
    .left, .right{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        float: none;
    }
    .about img{display: none;}
    .panel{
        margin: 0;
        padding: 0;
    }
    .panel a{max-height: 247px; height: 100%;}
    .demo-img{
        margin: 0;
        padding: 0;
        max-width: 500px;
        width: 100%;
        max-height: 247px;
        height: 100%;
        display: inline;
        background: transparent;
    }
    .demo-img > img{margin: 0; width: 100%; height: 100%; opacity: 1;}
    .demo-img:hover{opacity: 1;}
    .footer{
        margin: 0;
        position: static;
        text-align: center;
        background-color: #5cd8b6;
    }
    ::-webkit-scrollbar{display: none;}
}